@*@using Microsoft.AspNetCore.Mvc.Localization;//mch m7taga da 5las h3ml inject lel serices ely 3ndy 
@inject IViewLocalizer Loc*@

@using Web.ERP.Languages;
@inject ResourceWebServices Loc

@{
    ViewData["Title"] = "Home Page";
}

                <!-- users list start -->
                <section class="users-list-wrapper">
                    <!-- users filter start -->
                    <div class="card">
                        <div class="card-header pb-2">
            <h4 class="card-title">@Loc["LbFilter"]</h4>
                            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li>
                                        <a data-action="collapse"><i class="feather icon-chevron-down"></i></a>
                                    </li>
                                    <li>
                                        <button type="submit" class="text-success" style="border:0;background-color:transparent">
                                            <i class="feather icon-rotate-cw users-data-filter"></i>
                                        </button>
                                    </li>
                                    <li>
                                        <a data-action="close"><i class="feather icon-x"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-content collapse">
                            <div class="card-body">
                                <div class="users-list-filter">
                                    <form>
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <label for="users-list-role">Role</label>
                                                <fieldset class="form-group">
                                                    <select class="form-control" id="users-list-role">
                                                        <option value="">All</option>
                                                        <option value="user">User</option>
                                                        <option value="staff">Staff</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <label for="users-list-status">Status</label>
                                                <fieldset class="form-group">
                                                    <select class="form-control" id="users-list-status">
                                                        <option value="">All</option>
                                                        <option value="Active">Active</option>
                                                        <option value="Blocked">Blocked</option>
                                                        <option value="deactivated">Deactivated</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <label for="users-list-verified">Verified</label>
                                                <fieldset class="form-group">
                                                    <select class="form-control" id="users-list-verified">
                                                        <option value="">All</option>
                                                        <option value="true">Yes</option>
                                                        <option value="false">No</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <label for="users-list-department">Department</label>
                                                <fieldset class="form-group">
                                                    <select class="form-control" id="users-list-department">
                                                        <option value="">All</option>
                                                        <option value="Sales">Sales</option>
                                                        <option value="Devlopment">Devlopment</option>
                                                        <option value="Management">Management</option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- users filter end -->
                </section>
                <!-- Data list view starts -->
                <section id="data-list-view" class="data-list-view-header">
                    <div class="action-btns">
                        <div class="btn-dropdown d-inline mr-1 mb-1">
                            <div class="btn-group dropdown actions-dropodown">
                                @*<a href="/Accounts/Register" class="btn btn-info action-add">*@
                                  @*  <i class='feather icon-plus'></i>
                                    حفظ جديد
                                </a>*@
                                <button type="button" class="btn btn-info action-add">
                                  <i class="feather icon-plus"> </i> حفظ جديد
                                     </button>
                                &nbsp;
                                <button type="button"
                                        class="btn btn-primary px-1 py-1 dropdown-toggle waves-effect waves-light"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    الاجراءات
                                </button>
                                <div class="dropdown-menu">
                                    <button class="dropdown-item text-danger" type="submit"><i class="feather icon-trash"></i>حذف</button>

                                    <a class="dropdown-item" href="#"><i class="feather icon-save"></i>اجراء اخر</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- DataTable starts -->
                    <div class="table-responsive" style="margin-top:-25px">
                        <table class="table data-list-view ">
                            <thead>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <th>NAME</th>
                                    <th>CATEGORY</th>
                                    <th>POPULARITY</th>
                                    <th>ORDER STATUS</th>
                                    <th>PRICE</th>
                                    <th>ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">Apple Watch series 4 GPS</td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-success">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 97%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$69.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <a class="action-edit" href="#"><i class="feather icon-edit"></i></a>

                                        <a class="action-delete" href="#">
                                            <i class="feather icon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">Beats HeadPhones</td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 83%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-success">
                                            <div class="chip-body">
                                                <div class="chip-text">Delivered</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$69.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>

                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Altec Lansing - Bluetooth Speaker
                                    </td>
                                    <td class="product-category">Audio</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 57%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-danger">
                                            <div class="chip-body">
                                                <div class="chip-text">canceled</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Aluratek - Bluetooth Audio Receiver
                                    </td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 65%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$29.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Aluratek - Bluetooth Audio Transmitter
                                    </td>
                                    <td class="product-category">Audio</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-danger">
                                            <div class="chip-body">
                                                <div class="chip-text">canceled</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Basis - Peak Fitness and Sleep Tracker
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 47%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Antec - Nano Diamond Thermal Compound
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 55%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-primary">
                                            <div class="chip-body">
                                                <div class="chip-text">pending</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$29.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Antec - SmartBean Bluetooth Adapter
                                    </td>
                                    <td class="product-category">Computer</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 63%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-danger">
                                            <div class="chip-body">
                                                <div class="chip-text">canceled</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$39.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Beats by Dr. Dre - 3' USB-to-Micro USB Cable
                                    </td>
                                    <td class="product-category">Computer</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-success">
                                            <div class="chip-body">
                                                <div class="chip-text">delivered</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Beats by Dr. Dre - Bike Mount for Pill Speakers
                                    </td>
                                    <td class="product-category">Audio</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 40%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">delivered</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$49.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Bose® - SoundLink® Color Bluetooth Speaker
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 90%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-primary">
                                            <div class="chip-body">
                                                <div class="chip-text">pending</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$129.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        BRAVEN - Portable Bluetooth Speaker
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Craig - Portable Wireless Speaker
                                    </td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-danger">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 20%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-danger">
                                            <div class="chip-body">
                                                <div class="chip-text">canceled</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Definitive Technology - Wireless Speaker
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 75%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-primary">
                                            <div class="chip-body">
                                                <div class="chip-text">pending</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$399.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Fitbit - Charge HR Activity Tracker + Heart Rate (Large)
                                    </td>
                                    <td class="product-category">Audio</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 60%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-primary">
                                            <div class="chip-body">
                                                <div class="chip-text">pending</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$149.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Fitbit - Flex 1" USB Charging Cable
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$14.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">Fitbit - Activity Tracker</td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-danger">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 35%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-danger">
                                            <div class="chip-body">
                                                <div class="chip-text">canceled</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$99.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Fitbit - Charge Wireless Activity Tracker (Large)
                                    </td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-primary">
                                            <div class="chip-body">
                                                <div class="chip-text">pending</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$129.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">Craig - Tower Speaker</td>
                                    <td class="product-category">Audio</td>
                                    <td>
                                        <div class="progress progress-bar-warning">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 68%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$69.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">BRAVEN - Outdoor Speaker</td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 97%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-success">
                                            <div class="chip-body">
                                                <div class="chip-text">delivered</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Bose® - Bluetooth Speaker Travel Bag
                                    </td>
                                    <td class="product-category">Computers</td>
                                    <td>
                                        <div class="progress progress-bar-primary">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 89%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-warning">
                                            <div class="chip-body">
                                                <div class="chip-text">on hold</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$44.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <fieldset class="checkbox">
                                            <div class="vs-checkbox-con vs-checkbox-primary">
                                                <input type="checkbox" value="" name="Selected">
                                                <span class="vs-checkbox">
                                                    <span class="vs-checkbox--check">
                                                        <i class="vs-icon feather icon-check"></i>
                                                    </span>
                                                </span>
                                            </div>
                                        </fieldset>
                                    </td>
                                    <td class="product-name">
                                        Altec Lansing - Mini H2O Bluetooth Speaker
                                    </td>
                                    <td class="product-category">Fitness</td>
                                    <td>
                                        <div class="progress progress-bar-success">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="40"
                                                 aria-valuemin="40" aria-valuemax="100" style="width: 87%"></div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="chip chip-success">
                                            <div class="chip-body">
                                                <div class="chip-text">delivered</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="product-price">$199.99</td>
                                    <td class="product-action">
                                        <!-- Button trigger modal -->
                                        <a class="text-info" data-toggle="modal" data-target="#success">
                                            <i class="feather icon-unlock"></i>
                                        </a>
                                        <span class="action-edit"><i class="feather icon-edit"></i></span>
                                        <span class="action-delete"><i class="feather icon-trash"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- DataTable ends -->
                    <!-- add new sidebar starts -->
                    <div class="add-new-data-sidebar">
                        <div class="overlay-bg"></div>
                        <div class="add-new-data">
                            <div class="div mt-2 px-2 d-flex new-data-title justify-content-between">
                                <div>
                                    <h4 class="text-uppercase">List View Data</h4>
                                </div>
                                <div class="hide-data-sidebar">
                                    <i class="feather icon-x"></i>
                                </div>
                            </div>
                            <div class="data-items pb-3">
                                <div class="data-fields px-2 mt-3">
                                    <div class="row">
                                        <div class="col-sm-12 data-field-col">
                                            <label for="data-name">Name</label>
                                            <input type="text" class="form-control" id="data-name" />
                                        </div>
                                        <div class="col-sm-12 data-field-col">
                                            <label for="data-category"> Category </label>
                                            <select class="form-control" id="data-category">
                                                <option>Audio</option>
                                                <option>Computers</option>
                                                <option>Fitness</option>
                                                <option>Appliance</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 data-field-col">
                                            <label for="data-status">Order Status</label>
                                            <select class="form-control" id="data-status">
                                                <option>Pending</option>
                                                <option>Canceled</option>
                                                <option>Delivered</option>
                                                <option>On Hold</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 data-field-col">
                                            <label for="data-price">Price</label>
                                            <input type="text" class="form-control" id="data-price" />
                                        </div>
                                        <div class="col-sm-12 data-field-col data-list-upload">
                                            <form action="#" class="dropzone dropzone-area" id="dataListUpload">
                                                <div class="dz-message">Upload Image</div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="add-data-footer d-flex justify-content-around px-3 mt-2">
                                <div class="add-data-btn">
                                    <button class="btn btn-primary">Add Data</button>
                                </div>
                                <div class="cancel-data-btn">
                                    <button class="btn btn-outline-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- add new sidebar ends -->
                </section>
                <!-- Data list view end -->
                <!-- users list ends -->